services:
  jellyfin:
    image: ghcr.io/hotio/jellyfin
    container_name: jellyfin
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    # user: uid:gid
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ${config_path}/jellyfin/config:/config
      - ${config_path}/jellyfin/cache:/cache
      - type: bind
        source: ${media_path}
        target: /media
      # - type: bind
      #   source: /path/to/media2
      #   target: /media2
      #   read_only: true
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      - type: bind
        source: ${config_path}/jellyfin/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York # Replace with your timezone
    volumes:
      - ${config_path}/sonarr/config:/config # Replace with your desired config path
      - ${media_path}/tvshows:/tv # Replace with your TV show library path
      - ${media_path}/sonarr_downloads:/downloads # Replace with your download client's download path
      - ${media_path}/sonarr_downloads:/downloads/complete/tv-sonarr  # Replace with your download client's download path
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000 # Replace with your user ID
      - PGID=1000 # Replace with your group ID
      - TZ=America/New_York # Replace with your timezone
    volumes:
      - ${config_path}/radarr/config:/config # Host path for Radarr configuration
      - ${media_path}/movies:/movies # Host path for your movie library
      - ${media_path}/radarr_downloads:/downloads # Host path for your downloads
    ports:
      - 7878:7878 # Host port:Container port
    restart: unless-stopped
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - AUTO_UPDATE=true #optional
      # - RUN_OPTS= #optional
    volumes:
      - ${config_path}/jackett/data:/config
      - ${media_path}/blackhole:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000 # Your User ID
      - PGID=1000 # Your Group ID
      - TZ=America/New_York # Your Timezone
    volumes:
      - ${config_path}/prowlarr/config:/config # Host path for Prowlarr configuration
      - ${media_path}/prowlarr_media:/media # Host path for media files (accessible by Prowlarr and other Arr apps)
    ports:
      - 9696:9696 # Host port:Container port
    restart: unless-stopped
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      # - TRANSMISSION_WEB_HOME= #optional
      # - USER= cole #optional
      # - PASS= "transmission_jjkj" #optional
      # - WHITELIST= #optional
      # - PEERPORT= #optional
      # - HOST_WHITELIST= #optional
      - HOST_WHITELIST_ENTRIES=transmission.local,bosgame.lan
    volumes:
      - ${config_path}/transmission/data:/config
      - ${media_path}/transmission_downloads:/downloads #optional
      - ${config_path}/watch:/watch #optional
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - HOST_WHITELIST_ENTRIES=sabnzbd.local,bosgame.lan
    volumes:
      - ${config_path}/sabnzbd/config:/config
      - ${media_path}/sabnzbd_downloads:/incomplete-downloads #optional
      - ${media_path}/sabnzbd_downloads:/downloads #optional
    ports:
      - 8080:8080
    restart: unless-stopped
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    ports:
      - "8191:8191"
    environment:
      - TZ=America/New_York # Optional: Set your local time zone
      - LOG_LEVEL=info # Optional: Adjust logging level (info, debug, warn, error)
    restart: unless-stopped