services:
  jellyfin:
    image: ghcr.io/hotio/jellyfin
    container_name: jellyfin
    # gpus: all
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    # user: 1000:1000
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    group_add:
      - 992 # video group for hardware acceleration
    devices:
      - /dev/dri:/dev/dri 
    volumes:
      - ${config_path}/jellyfin/config:/config
      - ${config_path}/jellyfin/cache:/cache
      # - ${downloads_path}:/downloads 
      - ${secondary_drive}:/drive2
      # - type: bind
      #   source: ${media_path}
      #   target: /media
        # read_only: true 
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      - type: bind
        source: ${config_path}/jellyfin/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
      - TZ=America/New_York # Replace with your timezone
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    healthcheck:
          # test: ping -c 1 www.google.com || exit 1
          test: curl -c 1 127.0.0.1:8096 || exit 1
          interval: 1m
          timeout: 10s
          retries: 3


  gluetun:
        image: qmcgaw/gluetun:latest
        container_name: gluetun
        cap_add:
          - NET_ADMIN
        environment:
          - VPN_SERVICE_PROVIDER=airvpn
          - VPN_TYPE=wireguard # or openvpn
          - WIREGUARD_PRIVATE_KEY=${PrivateKey}
          - WIREGUARD_PRESHARED_KEY=${PresharedKey}
          - WIREGUARD_ADDRESSES=${Address}
          - SERVER_COUNTRIES=United States
          - FIREWALL_VPN_INPUT_PORTS=${open_torrent_port}
          - WIREGUARD_MTU=1280
          - FIREWALL_OUTBOUND_SUBNETS=172.18.0.0/24,192.168.1.0/24
        ports:
          - 8000:8000 # Gluetun control server port
          - ${open_torrent_port}:${open_torrent_port}
          - 8888:8888/tcp # HTTP proxy
          - 8388:8388/tcp # Shadowsocks
          - 8388:8388/udp # Shadowsocks
          - 8082:8082 # qBittorrent web UI port added here
          - 6881-6889:6881-6889 # qBittorrent listen ports (adjust as needed)
          - 9000:9000
          - 9696:9696 # prowlarr
          - 8989:8989 # sonarr
          - 7878:7878 # radarr
          - 8191:8191 # flaresolverr
          - 11011:11011 # cleanuparr 
          - 9705:9705 # huntarr
          # - 8483:8483 # apprise-api
          # transmission ports
          # - 9091:9091
        volumes:
          - ${config_path}/gluetun/config:/gluetun # Persistent storage for Gluetun config
        restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: service:gluetun # Routes qBittorrent through Gluetun
    depends_on:
          gluetun:
            condition: service_healthy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York # Replace with your timezone
    healthcheck:
          # test: ping -c 1 www.google.com || exit 1
          test: ping -c 1 127.0.0.1:8989 || exit 1
          interval: 1m
          timeout: 10s
          retries: 3
    volumes:
      # - ${media_path}/media/tv:/data
      - ${secondary_drive}:/drive2
      - ${media_path}/anime/tv:/anime
      - ${downloads_path}:/downloads
      - ${config_path}/sonarr/config:/config # Replace with your desired config path
      - ${media_path}/tvshows:/tv # Replace with your TV show library path
    # ports:
    #   - 8989:8989
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    network_mode: service:gluetun # Routes qBittorrent through Gluetun
    depends_on:
          gluetun:
            condition: service_healthy
    environment:
      - PUID=1000 # Replace with your user ID
      - PGID=1000 # Replace with your group ID
      - TZ=America/New_York # Replace with your timezone
    healthcheck:
          # test: ping -c 1 www.google.com || exit 1
          test: ping -c 1 127.0.0.1:7878 || exit 1
          interval: 1m
          timeout: 10s
          retries: 3
    volumes:
      - ${secondary_drive}:/drive2
      - ${media_path}/media/movies:/jellyfin_media/movies
      - ${config_path}/radarr/config:/config # Host path for Radarr configuration
      - ${media_path}/movies:/movies # Host path for your movie library
      - ${downloads_path}:/downloads
      # - ${media_path}/data:/data
    # ports:
    #   - 7878:7878 # Host port:Container port
    restart: unless-stopped
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - AUTO_UPDATE=true #optional
      # - RUN_OPTS= #optional
    volumes:
      - ${media_path}/prowlarr_media:/media
      - ${config_path}/jackett/data:/config
      - ${media_path}/blackhole:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped


  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: service:gluetun # Routes qBittorrent through Gluetun
    depends_on:
          gluetun:
            condition: service_healthy
    healthcheck:
          # test: ping -c 1 www.google.com || exit 1
          test: curl -c 1 127.0.0.1:8191 || exit 1
          interval: 1m
          timeout: 10s
          retries: 3
    # ports:
    #   - "8191:8191"
    environment:
      - TZ=America/New_York # Optional: Set your local time zone
      - LOG_LEVEL=info # Optional: Adjust logging level (info, debug, warn, error)
    restart: unless-stopped


  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: service:gluetun # Routes qBittorrent through Gluetun
    depends_on:
          gluetun:
            condition: service_healthy
    environment:
      - PUID=1000 # Your User ID
      - PGID=1000 # Your Group ID
      - TZ=America/New_York # Your Timezone
    volumes:
      - ${config_path}/prowlarr/config:/config # Host path for Prowlarr configuration
      - ${media_path}/prowlarr_media:/media # Host path for media files (accessible by Prowlarr and other Arr apps)
    # ports:
    #   - 9696:9696 # Host port:Container port
    healthcheck:
          # test: ping -c 1 www.google.com || exit 1
          test: ping -c 1 127.0.0.1:9696 || exit 1
          interval: 1m
          timeout: 10s
          retries: 3
    restart: unless-stopped


  qbittorrent:
        image: lscr.io/linuxserver/qbittorrent:latest
        container_name: qbittorrent
        network_mode: service:gluetun # Routes qBittorrent through Gluetun
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=America/New_York # Your timezone
          - WEBUI_PORT=8082
          - TORRENTING_PORT=${open_torrent_port}
        depends_on: 
          gluetun: 
            condition: service_healthy
        volumes:
          - ${config_path}/qbittorrent/config:/config # Persistent storage for qBittorrent config
          - ${downloads_path}:/downloads # Your download directory
        healthcheck:
          # test: ping -c 1 www.google.com || exit 1
          test: ping -c 1 127.0.0.1:8082 || exit 1
          interval: 1m
          timeout: 10s
          retries: 3
        restart: unless-stopped
 
  cleanuparr:
    image: ghcr.io/cleanuparr/cleanuparr:latest
    container_name: cleanuparr
    restart: unless-stopped
    network_mode: service:gluetun # Routes qBittorrent through Gluetun
    depends_on:
          gluetun:
            condition: service_healthy
    # ports:
    #   - "11011:11011"
    volumes:
      - ${config_path}/cleanuparr:/config
      # Mount your downloads directory if needed
      - ${downloads_path}:/downloads
    environment:
      - PORT=11011
      # - BASE_PATH=
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=America/New_York
    # Health check configuration
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11011/health"]
      interval: 30s        # Check every 30 seconds
      timeout: 10s         # Allow up to 10 seconds for response
      start_period: 30s    # Wait 30 seconds before first check
      retries: 3           # Mark unhealthy after 3 consecutive failures

  apprise-api:
    image: lscr.io/linuxserver/apprise-api:latest
    container_name: apprise-api
    # network_mode: service:gluetun # Routes qBittorrent through Gluetun
    # depends_on:
    #       gluetun:
    #         condition: service_healthy
    environment:
      - HTTP_PORT=8483
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      # - APPRISE_ATTACH_SIZE=0 #optional
    volumes:
      - ${config_path}/apprise-api:/config
      # - /path/to/apprise-api/attachments:/attachments #optional
    ports:
      # - 8000:8483
      - 8483:8000
    restart: unless-stopped 
  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    restart: unless-stopped 
    network_mode: service:gluetun # Routes qBittorrent through Gluetun
    depends_on:
          gluetun:
            condition: service_healthy
    # ports:
    #   - "9705:9705"
    volumes:
      - ${config_path}/huntarr:/config
    environment:
      - TZ=America/New_York
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9705/health"]
      interval: 30s        # Check every 30 seconds
      timeout: 10s         # Allow up to 10 seconds for response
      start_period: 30s    # Wait 30 seconds before first check
      retries: 3           # Mark unhealthy after 3 consecutive failures

  # transmission:
  #   image: lscr.io/linuxserver/transmission:latest
  #   container_name: transmission
  #   network_mode: service:gluetun # Routes qBittorrent through Gluetun
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/New_York 
  #     - HOST_WHITELIST_ENTRIES=transmission.local,bosgame.lan
  #     - TORRENTING_PORT=${open_torrent_port}
  #   volumes:
  #     - ${config_path}/transmission/data:/config
  #     - ${downloads_path}:/downloads
  #     - ${config_path}/watch:/watch #optional
  #     - ${media_path}/media:/jellyfin_media
  #     - ${media_path}/data:/data 
  #   depends_on: 
  #     gluetun: 
  #       condition: service_healthy
  #   restart: unless-stopped
  # sabnzbd:
  #   image: lscr.io/linuxserver/sabnzbd:latest
  #   container_name: sabnzbd
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/New_York
  #     - HOST_WHITELIST_ENTRIES=sabnzbd.local,bosgame.lan
  #   volumes:
  #     - ${config_path}/sabnzbd/config:/config
  #     - ${media_path}/sabnzbd_downloads:/incomplete-downloads #optional
  #     - ${media_path}/sabnzbd_downloads:/downloads #optional
  #   ports:
  #     - 8080:8080
  #   restart: unless-stopped