services:
  jellyfin:
    image: ghcr.io/hotio/jellyfin
    container_name: jellyfin
    # gpus: all
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    # user: 1000:1000
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    group_add:
      - 992 # video group for hardware acceleration
    devices:
      - /dev/dri:/dev/dri 
    volumes:
      - ${config_path}/jellyfin/config:/config
      - ${config_path}/jellyfin/cache:/cache
      # - ${downloads_path}:/downloads 
      - ${secondary_drive}:/drive2
      # - type: bind
      #   source: ${media_path}
      #   target: /media
        # read_only: true 
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      - type: bind
        source: ${config_path}/jellyfin/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
      - TZ=America/New_York # Replace with your timezone
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York # Replace with your timezone
    volumes:
      # - ${media_path}/media/tv:/data
      - ${secondary_drive}:/drive2
      - ${media_path}/anime/tv:/anime
      - ${downloads_path}:/downloads
      - ${config_path}/sonarr/config:/config # Replace with your desired config path
      - ${media_path}/tvshows:/tv # Replace with your TV show library path
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000 # Replace with your user ID
      - PGID=1000 # Replace with your group ID
      - TZ=America/New_York # Replace with your timezone

    volumes:
      - ${secondary_drive}:/drive2
      - ${media_path}/media/movies:/jellyfin_media/movies
      - ${config_path}/radarr/config:/config # Host path for Radarr configuration
      - ${media_path}/movies:/movies # Host path for your movie library
      - ${downloads_path}:/downloads
      # - ${media_path}/data:/data
    ports:
      - 7878:7878 # Host port:Container port
    restart: unless-stopped
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - AUTO_UPDATE=true #optional
      # - RUN_OPTS= #optional
    volumes:
      - ${media_path}/prowlarr_media:/media
      - ${config_path}/jackett/data:/config
      - ${media_path}/blackhole:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000 # Your User ID
      - PGID=1000 # Your Group ID
      - TZ=America/New_York # Your Timezone
    volumes:
      - ${config_path}/prowlarr/config:/config # Host path for Prowlarr configuration
      - ${media_path}/prowlarr_media:/media # Host path for media files (accessible by Prowlarr and other Arr apps)
    ports:
      - 9696:9696 # Host port:Container port
    restart: unless-stopped
  
  # sabnzbd:
  #   image: lscr.io/linuxserver/sabnzbd:latest
  #   container_name: sabnzbd
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/New_York
  #     - HOST_WHITELIST_ENTRIES=sabnzbd.local,bosgame.lan
  #   volumes:
  #     - ${config_path}/sabnzbd/config:/config
  #     - ${media_path}/sabnzbd_downloads:/incomplete-downloads #optional
  #     - ${media_path}/sabnzbd_downloads:/downloads #optional
  #   ports:
  #     - 8080:8080
  #   restart: unless-stopped
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    ports:
      - "8191:8191"
    environment:
      - TZ=America/New_York # Optional: Set your local time zone
      - LOG_LEVEL=info # Optional: Adjust logging level (info, debug, warn, error)
    restart: unless-stopped
  gluetun:
        image: qmcgaw/gluetun:latest
        cap_add:
          - NET_ADMIN
        environment:
          - VPN_SERVICE_PROVIDER=airvpn
          - VPN_TYPE=wireguard # or openvpn
          - WIREGUARD_PRIVATE_KEY=${PrivateKey}
          - WIREGUARD_PRESHARED_KEY=${PresharedKey}
          - WIREGUARD_ADDRESSES=${Address}
          - SERVER_COUNTRIES=United States
          - FIREWALL_VPN_INPUT_PORTS=${open_torrent_port}
        ports:
          - 8000:8000 # Gluetun control server port
          - ${open_torrent_port}:${open_torrent_port}
          - 8888:8888/tcp # HTTP proxy
          - 8388:8388/tcp # Shadowsocks
          - 8388:8388/udp # Shadowsocks
          - 8082:8082 # qBittorrent web UI port added here
          - 6881-6889:6881-6889 # qBittorrent listen ports (adjust as needed)
          #transmission ports
          # - 9091:9091
        volumes:
          - ${config_path}/gluetun/config:/gluetun # Persistent storage for Gluetun config
        restart: unless-stopped
  qbittorrent:
        image: lscr.io/linuxserver/qbittorrent:latest
        network_mode: service:gluetun # Routes qBittorrent through Gluetun
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=Etc/UTC # Your timezone
          - WEBUI_PORT=8082
          - TORRENTING_PORT=${open_torrent_port}
        depends_on: 
          gluetun: 
            condition: service_healthy
        volumes:
          - ${config_path}/qbittorrent/config:/config # Persistent storage for qBittorrent config
          - ${downloads_path}:/downloads # Your download directory
        restart: unless-stopped
  # transmission:
  #   image: lscr.io/linuxserver/transmission:latest
  #   container_name: transmission
  #   network_mode: service:gluetun # Routes qBittorrent through Gluetun
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/New_York 
  #     - HOST_WHITELIST_ENTRIES=transmission.local,bosgame.lan
  #     - TORRENTING_PORT=${open_torrent_port}
  #   volumes:
  #     - ${config_path}/transmission/data:/config
  #     - ${downloads_path}:/downloads
  #     - ${config_path}/watch:/watch #optional
  #     - ${media_path}/media:/jellyfin_media
  #     - ${media_path}/data:/data 
  #   depends_on: 
  #     gluetun: 
  #       condition: service_healthy
  #   restart: unless-stopped